{% extends 'base.html' %}

{% block body %}

<p><strong>Internet censorship is back on the agenda in Congress.</strong> A new law, misleadingly titled the "Loving Our Pets Act", would make it a crime to publish or share pictures of cats on the Internet.</p>

<p>By outlawing pictures of cats, Congress would disrupt critical Internet infrastructure that people all over the world depend on every single day, like <a href="http://placekitten.com/">placekitten</a> and <a href="http://cashcats.biz/">ca$hcats.</a></p>

<p><strong>Sign the petition and tell Congress to put LOPA where it belongs &mdash; in the litter box.</strong></p>

<!--img src="http://placekitten.com/200/300" />
<img src="http://placekitten.com/201/300" />
<img src="http://placekitten.com/203/300" />
<img src="http://placekitten.com/197/300" />
<img src="http://placekitten.com/198/300" /-->

<div id="signature_count">
	Loading...
</div>

<ul id="leaderboard">
	Loading...
</ul>

{% include 'signatures/_form.html' %}

{% endblock %}