{% extends 'base.html' %}

{% block body %}

<div id="campaign_copy">
	<p><strong>Internet censorship is back on the agenda in Congress.</strong> A new law, misleadingly titled the "Loving Our Pets Act", would make it a crime to publish or share pictures of cats on the Internet.</p>

	<p>By outlawing pictures of cats, Congress would disrupt critical Internet infrastructure that people all over the world depend on every single day, like <a href="http://placekitten.com/">placekitten</a> and <a href="http://cashcats.biz/">ca$hcats.</a></p>

	<p><strong>Sign the petition and tell Congress to put LOPA where it belongs &mdash; in the litter box.</strong></p>
</div>

<div id="live_count">
	<div id="signature_count">
		<span class="number">0</span> signatures so far
	</div>

	<div id="leaderboard">
		<h2>Top States:</h2>
		<ul class="states">
		</ul>
	</div>
</div>

{% include 'signatures/_form.html' %}

{% endblock %}